# ideas
/.fleet
/.idea
/.idea/tasks.xml
/.idea/workspace.xml
/.nova
/.vscode
/.zed

# external libraries
/vendor

# configuration
.env
.env.backup
.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log

# docker
docker-compose.yaml

# misc
.DS_Store
.env.production
.php-cs-fixer.cache
.phpactor.json
.phpunit.cache
auth.json